{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <title>{% block title %}{% endblock %}</title>
    <link href="{% static 'encyclopedia/styles.css' %}" rel="stylesheet" />
    <script src="https://cdn.tailwindcss.com"></script>
    <script>
      tailwind.config = {
        theme: {
          extend: {
            colors: {
              clifford: "#da373d",
            },
          },
        },
      };
    </script>
  </head>
  <body class="bg-black text-white m-16 font-">
    <div class="flex">
      <div class="w-1/3">
        <h2 class="text-3xl font-bold">Wiki</h2>
        <form method="get" action="{% url 'search' %}">
          <input
            class="p-2 rounded-md w-full text-black"
            type="text"
            name="q"
            placeholder="Search Encyclopedia"
          />
        </form>
        <div class="my-6">
          <a class="p-2 bg-sky-900 mt-4 rounded-md" href="{% url 'index' %}"
            >Home</a
          >
        </div>
        <div class="my-6">
          <a class="p-2 bg-sky-900 mt-4 rounded-md" href="{% url 'new_page' %}">
            Create New Page
          </a>
        </div>
        <div class="my-6">
          <a
            class="p-2 bg-sky-900 mt-4 rounded-md"
            href="{% url 'random_page' %}"
          >
            Random Page
          </a>
        </div>
        {% block nav %} {% endblock %}
      </div>
      <main class="px-16 w-2/3 h-screen">{% block body %} {% endblock %}</main>
    </div>
  </body>
</html>
